body.about {
  background-image: url("/images/emilia-about.jpg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: right top;
}

.about section {
  margin-left: 30px;
  color : var(--colorEsmeralda);
}

.about h4{
  font-size: 24px;
}

.about ul {
  padding: 0;
}

