.music header {
    background-image: url('/images/emilia-music-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
}

.music a.goTop {
    color : grey
}

.music main section ol li{
    list-style-type: decimal-leading-zero;
}

.music main section ol li a{
    font-weight: 200;
}

.music main section p{
    line-height: 10px;
}